@font-face {
    font-family: blackHanSans;
    src: url('./assets/fonts/BlackHanSans-Regular.woff') format('woff'),
    url('./assets/fonts/BlackHanSans-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
